@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Open Sans;
}

.root {
    width: 85%;
    margin: auto;
    margin-top: 1.5rem;
}

.main_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}

.main_nav button {
    padding: 16px 24px;
    box-shadow: 0px 1px 3px rgba(224, 225, 227, 0.4);
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #E2E4E8;
    color: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.main_container {
    margin-top: 3rem;
}

.main_container-button {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.main_container-button div.num {
    background: #F9F9FB;
    box-shadow: 0px 1px 3px rgba(224, 225, 227, 0.4);
    border-radius: 5px;
    padding: 16px 24px;
    font-weight: bold;
}

.main_container-button span {
    margin-left: 1rem;
}

.one, .two, .three {
    margin-top: 2rem;
}

.main_container-heading {
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #000000;
}

.main_container-para {
    font-family: Open Sans;
    font-style: normal;
    margin: auto;
    margin-top: 1rem;
    font-weight: normal;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #595959;
}

.form {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}


.form-control input {
    align-items: flex-start;
    padding: 16px 100px 16px 24px;
    margin-top: 1rem;
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #E2E4E8;
    box-sizing: border-box;
    border-radius: 5px;

}

.form-control label, .form-control input {
    display: block;
}

.form-control input.active {
    border: 1px solid #255CE9;
}

div.num.active {
    color: #fff;
    background: #0FAF51;
}

.cta-btn {
    width: 100%;
    margin-top: 2rem;
    text-align: right;
}

.cta-btn button {
    background: #0FAF51;
    box-shadow: 0px 1px 3px rgba(224, 225, 227, 0.4);
    border-radius: 5px;
    padding: 16px 24px;
    border: 1px solid #0FAF51;
    font-weight: bold;
    color: #fff;
    width: 100%;
}

.personal_information, .upload_identity-header, .qr-code_heading {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #000000;
}

.personal_information-para, .upload_identity-para, .qr-code_para {
    text-align: center;
    font-family: Open Sans;
    color: #595959;
    font-size: 18px;
    margin: auto;
    margin-top: 1rem;
}

.upload_identity-file {
    margin: auto;
    margin-top: 2rem;
    width: 100%;
    height: 192px;
    background: #FBFCFE;
    border: 1px dashed #A4B7DC;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.upload_identity-file_text {
    margin-top: 1rem;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
}


.hide {
    display: none;
}

.show {
    display: block;
}
.qr-code_image {
    display: block;
    margin: auto;
    margin-top: 1rem;
}

/* for tablets */

@media (min-width: 48rem) {
    .root {
        width: 87%;
    }

    .main_container-buttons {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main_container-button {
        margin-bottom: 1rem;

    }

    .form {
        gap: 4.5rem;
        flex-direction: row;
    }

    .form-control {
        width: 25.445%;
    }


    .cta-btn button {
        width: fit-content;
    }
}

/* for laptops and big screen */

@media (min-width: 64rem) {
    .root {
        width: 75.64%;
    }

    .main_container {
        width: 100%;
    }

    .main_container-buttons {
        width: 78%;
        margin: auto;
    }

    .main_container-para, .qr-code_para {
        width: 61.430%;
    }

    .form {
        gap: 2rem;
    }

    .form-control {
        width: 21.117%;
    }
    .personal_information-para {
        width: 61.39%;
        margin: auto;
        margin-top: 1rem;
    }
    .upload_identity-file{
        width: 55%;
    }
   
}